html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,.reset
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
	vertical-align: baseline;
	background: transparent;
}

body {
	background: #f5f5f1;
	margin: 0px auto;
	color: #333;
}

body,button,input,select,textarea {
	font: 13px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}

h1,h2,h3,h4 {
	font-weight: bold;
	color: #c41200;
	margin: 0 0 6px; //
	font-family: '微软雅黑', '宋体'; //
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
	display: block;
}

a:hover {
	text-decoration: underline;
}

a {
	color: #3b65a7;
	text-decoration: none;
}

em,code,dfn,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

input[type=text] {
	outline: 0;
}

.C-layout {
	padding: 10px 0;
	background: #fff;
	float: left;
	margin-bottom: 16px;
}

.app-header {
	position: relative;
	min-width: 990px;
	background: #fff;
	/*background:#eb6120;*/
	z-index: 11
}

#mastHead {
	font-size: 14px;
	line-height: 1.28571em;
}

.clearfix {
	clear: both;
}

.more {
	position: absolute;
	right: 0;
	top: 0;
	color: #333;
}

.clearfix:before,.clearfix:after {
	display: table;
	content: " ";
}

.header-container {
	width: 990px;
	margin: 0 auto;
	padding: 0;
	height: 80px;
}

.app-header a {
	color: #575757;
}

.hr {
	float: right;
	width: 750px;
}

.hr a:hover {
	text-decoration: underline;
}

#navUtility {
	margin: 6px 0 0 10px;
	list-style: none;
	font-size: 12px;
	color: #666;
	white-space: nowrap; width：100 %;
	float: right;
}

#navUtility .VehicleInfo span {
	line-height: 21px;
}

#navUtility li {
	float: left;
	padding: 0 2px 0 2px;
	line-height: 21px;
}

#navUtility li span.line {
	width: 6px;
	float: none;
	padding: 0px 3px 0 0;
	display: inline-block;
	background: url(../image/vline.jpg) no-repeat scroll 0px 2px transparent;
}

#navUtility a {
	display: block;
	margin-right: 2px;
	padding: 0 2px;
	border-radius: 3px;
	color: #666;
	line-height: 21px;
	font-size: 12px;
}

.hr .guarantee {
	clear: both;
	text-align: right;
	margin-top: 42px;
}

.hr .guarantee a.quality {
	display: inline-block;
	height: 33px;
	line-height: 33px;
	padding-left: 33PX;
	background: url(../image/qulity.png) 0 -6px no-repeat;
	margin-left: 23px;
}

.hr .guarantee a.funds {
	display: inline-block;
	height: 33px;
	line-height: 33px;
	padding-left: 33PX;
	background: url(../image/funds.png) 0 -6px no-repeat;
	margin-left: 23px;
}

.hr .guarantee span {
	margin: 0 6px;
	font-weight: bold;
}

#mastHead .logo {
	background: url(../image/logo.gif) no-repeat;
	float: left;
	height: 70px;
	width: 220px;
	margin: 4px 15px 4px 0;
	padding: 0;
}

.app-header .logo a {
	display: block;
	float: left;
	margin: 9px 0;
	width: 100%;
	height: 100%;
	text-indent: -1000em;
}

.header-nav {
	float: left;
	margin-left: -8px;
	margin-top: 36px;
}

.header-nav li {
	font-size: 13px;
	line-height: 1.38462em;
	text-shadow: 0 -1px 0 #760400;
}

.inline-block {
	display: -moz-inline-stack;
	display: inline-block;
}

.header-nav a:hover,.header-nav a.tabon {
	color: #fff;
	background: #7e0801;
	background: rgba(109, 10, 0, 0.5);
	-webkit-box-shadow: inset 0 1px 0 #7b0000, 0 1px 0 #c33f01;
	box-shadow: inset 0 1px 0 #7b0000, 0 1px 0 #c33f01;
}

.header-nav a {
	display: block;
	margin-right: 2px;
	padding: 0 8px;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	line-height: 21px;
	font-size: 15px;
	font-family: "微软雅黑", "宋体";
}

#super-container {
	width: 990px;
	margin: 16px auto;
	padding: 0;
}

.layout-a {
	padding-top: 10px;
}

.layout-a .column-alpha {
	float: left;
	padding: 0;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 690px;
}

.layout-a .column-beta {
	float: left;
	padding: 0 10px 0 15px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
}

.icright .iright-ul-header li.on {
	background: #c10208;
}

.iright-li-title {
	float: left;
	width: 276px;
	color: #fff;
	line-height: 30px;
	height: 30px;
	text-align: center;
	background: #818181;
	margin-left: 4px;
	_margin-left: 2px;
	font-weight: bold;
	font-size: 14px;
}

.column-beta .icright {
	width: 284px;
	height: 396px;
	border: solid 1px #e8e8e8;
	background: #fff;
}

.icright .iright-ul-header {
	margin: 4px 0 0 0;
	height: 30px;
	cursor: pointer;
}

.r_list {
	margin: 10px 14px 0 19px;
	_margin-left: 9px;
}

.r_list li {
	height: 58px;
	border-top: dashed 1px #efefef;
	width: 246px;
	overflow: hidden;
}

.r_list .s_data .s_det {
	color: #999;
}

.r_list .s_photo {
	float: left;
	margin: 6px 0 0 6px;
	width: 43px;
	height: 43px;
	border: solid 1px #e8e8e8;
	overflow: hidden;
}

.r_list .s_photo img {
	width: 43px;
	height: 43px;
}

.r_list .s_data {
	float: left;
	height: 58px;
	line-height: 58px;
	margin-left: 6px;
}

.wenda {
	margin-top: 10px;
}

.layout-border .column-beta {
	-webkit-box-shadow: -1px 0 0 #e5e5e1;
	box-shadow: -1px 0 0 #e5e5e1;
}

.layout-block:after {
	clear: both;
}

.layout-block:before,.layout-block:after {
	content: " ";
	display: table;
}

.home-1 li {
	width: 475px;
	height: 130px;
	float: left;
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.home-1 .pic {
	float: left;
	margin-right: 10px;
	width: 212px;
}

.cont {
	margin-top: 16px;
}

.home-1 .cont {
	margin-top: 0;
}

.home-1 h3 {
	font-weight: bold;
	color: #3a639a;
	padding-bottom: 10px;
	font-size: 14px;
}

.main .ysection {
	margin-bottom: 30px;
}

.header-with-ui {
	display: table;
	width: 100%;
}

.div_nav {
	background: #c10208;
	position: relative;
	z-index: 10;
	height: 40px;
}

.nav_content {
	width: 990px;
	margin: 0 auto;
}

.navLeft {
	float: left;
	width: 820px;
	height: 40px;
}

.navLeft i {
	margin-left: 8px;
}

.navRights {
	float: right;
	height: 40px;
}

.nav_content {
	width: 990px;
	margin: 0 auto;
}

.nav_content ul li {
	float: left;
}

.navLeft ul li a {
	float: left;
	padding: 0 25px;
	color: #ffffff;
	display: inline-block;
	font: bold 15px/40px "微软雅黑";
	text-decoration: none;
}

.nav_content ul li.cur a {
	background: #ab070c;
	text-decoration: none;
}

ul li.shopCenter a i {
	font-family: 'webicon';
	font-size: 20px;
	color: #ffffff;
	display: inline-block;
	margin: -4px 0 0 5px;
	_margin: 0px 0 0 5px;
	font-style: normal;
	line-height: 40px;
}

.nav_content ul li a:hover {
	background: #ab070c;
	text-decoration: none;
}

.ytype h2 {
	font-size: 14px;
	line-height: 1.25em;
}

.header-with-ui .hd-ui {
	display: table-cell;
	padding-left: 15px;
	text-align: right;
}

.tabs-pill {
	font-size: 12px;
	line-height: 1.5em;
}

.hidden {
	display: none;
}

.tabs-pill .tab.selected {
	cursor: default;
	border-radius: 8px;
	background: #efefed;
	-webkit-box-shadow: inset 0 1px 0 rgba(40, 40, 21, 0.18);
	box-shadow: inset 0 1px 0 rgba(40, 40, 21, 0.18);
}

.tabs-pill .tab {
	padding: 0 6px;
	cursor: pointer;
}

.tabs-pill .tab.selected a {
	cursor: default;
	text-decoration: none;
	color: #333;
}

.tabs-pill .selected .unread-count {
	padding: 0;
	margin: 0 0 0 6px;
	background: none;
	border-radius: 0;
	font-weight: bold;
	color: #333;
}

#activity-feed .ylist-bordered {
	border-top: 1px solid #e5e5e1;
}

.ylist-bordered>li {
	margin: 0;
	padding: 10px 10px 0;
	border-bottom: 1px solid #e5e5e1;
	padding-bottom: 17px;
}

.media-block .media-avatar {
	float: left;
	margin-right: 6px;
}

.photo-box img {
	display: block;
}

.media-block .media-story {
	display: table-cell;
	vertical-align: top;
	width: 1000000px;
}

#activity-feed .item-title {
	display: table;
	margin-bottom: 6px;
}

.media-block .media-title a {
	font-weight: bold;
}

#activity-feed .item-title .biz-name {
	font-weight: normal;
}

.ytype .time-stamp {
	font-size: 12px;
	line-height: 1.5em;
	color: #999;
}

#activity-feed .time-stamp {
	display: table-cell;
	padding-left: 15px;
	white-space: nowrap;
	text-align: right;
}

.photo-box .photo-box-img {
	border-radius: 4px;
}

.media-block-large .media-avatar {
	margin-right: 12px;
}

.rating-very-large {
	overflow: hidden;
	position: relative;
	width: 126px;
	height: 22px;
}

.biz-rating-very-large .rating-very-large {
	float: left;
	margin: -3px 6px 0 0;
}

.biz-rating-very-large {
	margin-bottom: 26px;
}

.content { //
	margin-right: 10px;
}

.bd .content {
	position: relative;
	padding-top: 6px;
}

.rating-very-large .stars_5 {
	background-position: -3px -739px;
}

.offscreen {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	left: -9999px;
	top: auto;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.biz-rating .rating-qualifier {
	display: block;
	float: left;
	color: #555;
}

.biz-rating .rating-qualifier {
	display: block;
	float: left;
	color: #555;
}

.width-full {
	width: 100%;
}

.photo-box-list {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin: 0 -8px 0 -7px;
}

.new-business-openings .photo-box-list {
	margin: 0 -22px;
}

.photo-box-list li {
	float: left;
	margin: 10px 5px 12px 16px;
}

.new-business-openings .photo-box-list li {
	margin: 0 0 12px 22px;
}

.photo-box.has-overlay {
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}

.photo-box img {
	display: block;
}

.photo-box .photo-box-img {
	border-radius: 4px;
}

.photo-box-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 3px 6px;
	background: #333;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	overflow: hidden;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.photo-box-overlay a {
	color: #fff;
}

.biz-listing-photo .biz-name {
	font-weight: bold;
}

.rating .stars_5 {
	background-position: -3px -165px;
}

.photo-box .biz-shim {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
}

.rating {
	position: relative;
	overflow: hidden;
	width: 82px;
	height: 14px;
}

.biz-rating-medium .rating {
	float: left;
	margin: 1px 6px 0 0;
}

.biz-rating-medium {
	margin: 3px 0;
	height: 16px;
}

.rating .stars_5 {
	background-position: -3px -165px;
}

.star-img {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../image/stars_map.png) no-repeat;
}

.rating .stars_0 {
	background-position: -3px -3px
}

.rating .stars_1 {
	background-position: -3px -21px
}

.rating .stars_1_half {
	background-position: -3px -39px
}

.rating .stars_2 {
	background-position: -3px -58px
}

.rating .stars_2_half {
	background-position: -3px -74px
}

.rating .stars_3 {
	background-position: -3px -93px
}

.rating .stars_3_half {
	background-position: -3px -111px
}

.rating .stars_4 {
	background-position: -3px -129px
}

.rating .stars_4_half {
	background-position: -3px -147px
}

.rating .stars_5 {
	background-position: -3px -165px
}

.photo-box img {
	display: block;
}

.biz-listing-photo .biz-rating .rating-qualifier {
	color: #fff;
}

.main .ysection h2 {
	margin-bottom: 12px;
}

.service-title {
	margin: 16px 0 0 0;
}

.service-content {
	margin: 6px 0 0 0;
}

.service-content li .num {
	width: 30px;
	float: left;
}

.sidebar-box {
	border-bottom: 1px solid #ccccc8;
	padding-bottom: 10px;
}

.service-content li .num-1 span {
	background: url(../image/number-2.png) no-repeat -12px -6px;
}

.service-content li .num-2 span {
	background: url(../image/number-2.png) no-repeat -12px -52px;
}

.service-content li .num-3 span {
	background: url(../image/number-2.png) no-repeat -12px -102px;
}

.service-content li .num-4 span {
	background: url(../image/number-2.png) no-repeat -12px -152px;
}

.service-content li .num span {
	color: #fff;
	display: block;
	font-family: Arial;
	font-size: 11px;
	height: 32px;
	line-height: 12px;
	margin-top: 3px;
	overflow: hidden;
	text-align: center;
	width: 30px;
}

.service-content .step-1 {
	margin-left: 40px;
	padding-top: 4px;
}

.service-content h3 {
	color: #333;
}

.question_list {
	margin: 10px 10px 0 10px;
}

.question_list li,.list14 li {
	background: url(../image/dot.gif) no-repeat -1px -47px;
	padding-left: 13px;
	padding: 4px 0 4px 16px;
}

.question_list a {
	color: #333;
}

.onroad_year,.onroad_month {
	height: 29px;
	border: solid 1px #bcbcbc;
}

.tostep2 {
	color: #fff;
	width: 300px;
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	font-weight: bold;
	background-color: #ed6f1b;
	margin: 0px auto;
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
	display: block;
}

.toorder {
	color: #fff;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	background-color: #ed6f1b;
	margin: 0px auto;
	cursor: pointer;
	text-align: center;
	margin-top: 2px;
	display: block;
}

.tostep2.on,.toorder.on,.question_post.on {
	background-color: #ed6f1b;
	cursor: pointer;
	background: -moz-linear-gradient(top, #fb8d3e, #fa601a);
	background: -ms-linear-gradient(top, #fb8d3e, #fa601a);
	background: -webkit-linear-gradient(top, #fb8d3e, #fa601a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fb8d3e,
		endColorstr=#fa601a, grandientType=0);
	box-shadow: 0px 1px 1px #c84c14;
	border-radius: 2px;
	text-shadow: 0px -1px 1px #f93a16;
}

.g-progressbar {
	padding: 0 0 6px;
}

.g-progressbar-text {
	height: 20px;
	margin: 10px 0 0;
}

.g-progressbar-text li {
	float: left;
	display: inline;
	margin: 0 44px 0 25px;
	width: 122px;
	text-align: center;
	color: #888888;
}

.g-progressbar-text .on {
	color: #333;
}

.g-progressbar-pic {
	margin: 10px 0 0 67px;
}

.g-progressbar-pic li {
	float: left;
	background: url("../image/flow_bg.png");
	color: #888888;
	text-shadow: 0 1px 0 #fff;
}

.g-progressbar-pic li span {
	padding-left: 20px;
	height: 40px;
	font-size: 12px;
	font-weight: bold;
	line-height: 40px;
}

.g-progressbar-pic .g-circle {
	width: 45px;
	height: 40px;
}

.g-progressbar-pic .g-left {
	background-position: 0px 0px;
}

.g-progressbar-pic .g-left-actived {
	background-position: 0px -82px;
	color: #ffffff;
	text-shadow: none;
}

.g-progressbar-pic .g-left-finished {
	background-position: 0px -41px;
}

.g-progressbar-pic .g-middle {
	background-position: 0px -123px;
}

.g-progressbar-pic .g-middle-actived {
	background-position: 0px -246px;
	color: #ffffff;
	text-shadow: none;
}

.g-progressbar-pic .g-middle-finished {
	background-position: 0px -164px;
}

.g-progressbar-pic .g-right {
	background-position: 0px -205px;
}

.g-progressbar-pic .g-right-actived {
	background-position: 0px -328px;
	color: #ffffff;
	text-shadow: none;
}

.g-progressbar-pic .g-right-finished {
	background-position: 0px -287px;
	text-shadow: none;
}

.g-progressbar-pic .g-line {
	height: 40px;
	width: 145px;
	background-position: 0px -369px;
}

.g-progressbar-pic .on {
	color: #5ca945;
}

.g-clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

.select_auto {
	padding: 20px;
}

.select_auto p {
	margin-bottom: 10px;
}

.diagone_car_item {
	padding: 0;
	height: 31px;
	width: 100% px;
	font-size: 14px;
	color: #4d4d4d;
	line-height: 31px;
	clear: both;
}

.diagone_car_item .item_title {
	float: left;
	width: 120px;
	margin-right: 10px;
	text-align: right;
	height: 100%;
}

.form_control_container {
	float: left;
	border: solid 1px #bcbcbc;
	background-color: #ffffff;
	position: relative;
}

.form_control_container .control_value {
	float: left;
	padding: 0 5px;
	width: 230px;
	height: 29px;
	line-height: 29px;
	border: 0;
	color: #464646;
	margin: 0;
}

.form_control_container .control_more {
	float: right;
	width: 24px;
	background: url("/auto/image/common_ico.png") no-repeat -4px -2px;
	height: 24px;
	margin: 0 2px;
	cursor: pointer;
}

.chooseVehicle_content .chooseVehicle_button {
	clear: both;
	padding: 10px 0;
	text-align: right;
}

.form_control_container .control_unit {
	background: none;
	height: 26px;
	padding-top: 2px;
	line-height: 26px;
	margin-top: 0;
	cursor: default;
	color: #bcbcbc;
	font-family: Arial;
}

/** page-diagnosis **/
.diagnosis_header {
	width: 100%;
	margin: 10px;
}

.diagnosis_header .diagnosis_brand {
	border: 1px solid #D0D0D0;
	float: left;
	height: 100px;
	margin: -30px 20px 0 0;
	position: relative;
	width: 100px;
}

.diagnosis_header .diagnosis_carinfo {
	color: #3E3E3E;
	font-family: "΢���ź�";
	margin: 40px 0 0;
	width: 960px;
}

.diagnosis_carinfo .diagnosis_selectcar {
	font-size: 18px;
	font-family: "΢���ź�";
	height: 25px;
	weight��bold;
}

.diagnosis_carinfo .diagnosis_changetc {
	height: 20px;
	line-height: 20px;
	margin-top: 0;
	color: #3e3e3e;
}

.diagnosis_carinfo .diagnosis_changetc {
	font-size: 16px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
}

.diagnosis_carinfo .diagnosis_buytime {
	height: 20px;
	line-height: 20px;
	margin-top: 2px;
	color: #1f81c1;
}

.diagnosis_items {
	height: 20px;
	margin-top: 6px;
}

.diagnosis_carinfo p {
	margin-bottom: 2px;
}

.diagnosis-wrap {
	background-color: #fff;
	margin: 0 0;
	clear: both;
}

.diagnosis-wrap .part_left {
	width: 520px; //
	background-color: #ededed;
	float: left;
	border-right: 1px solid #b6b6b6;
}

.diagnosis-wrap .part_right {
	width: 320px;
	float: left;
	margin: 20px 10px;
}

.part_itemlist .part_item_option ul {
	width: 100%;
	border-top: dotted 1px #b6b6b6;
}

.part_itemlist li.interval {
	background-color: #f4f6fb;
}

.part_itemlist li {
	width: 480px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #505050;
	padding: 0 20px 0 20px;
	border-bottom: dotted 1px #b6b6b6;
	background-color: #dee4f3;
	vertical-align: middle;
}

.part_item_subject {
	margin: 0 0 10px 0;
}

.part_itemlist li span {
	display: inline-block;
	float: left;
}

.part_left {
	margin: 20px 0 10px 10px;
	padding-right: 30px;
}

.part_left .part_item_option .help {
	float: left;
	margin: 12px auto auto 5px;
	height: 15px;
	width: 15px;
	background: url(../image/help_buy.png) no-repeat;
	position: relative;
}

.part_left .part_item_option .help div {
	position: absolute;
	top: 25px;
	left: -50px;
	float: left;
	width: 400px;
	padding-top: 6px;
	background: url(/ui/20130403/images/help_arrow.png) no-repeat 25px 0;
	color: #fff;
	z-index: 100;
}

.part_itemlist li a {
	float: right;
	width: 75px;
	height: 25px;
	border: solid 1px #adaeb2;
	color: #3d3d3d;
	text-align: center;
	line-height: 25px;
	display: inline-block;
	margin-top: 7px;
	background-color: #ffffff;
}

.part_itemlist li span.part_item_price {
	float: right;
	color: #888888;
	font-size: 14px;
	font-family: "����";
	width: 150px;
	margin-right: 10px;
	_margin-right: 5px;
}

.part_itemlist li span.part_item_price .part_item_pricetitle {
	width: 50px;
	height: 40px;
	font-size: 12px;
}

.part_itemlist li span {
	display: inline-block;
	float: left;
}

.part_itemlist li span.part_item_price .part_item_priceunit {
	font-size: 12px;
	margin-left: 5px;
	_margin-left: 2px;
}

#possible_partlist {
	margin: 20px 0 0 0;
}

.diagnosis-wrap:before {
	content: " ";
	display: table;
}

.diagnosis-wrap:after {
	content: " ";
	display: table;
}

.part_right .part_itemlist .part_item_option {
	margin-top: 5px;
	float: left;
	width: 100%;
}

.part_right .part_itemlist .part_item_option .part_item_selected {
	width: 100%;
	border: none;
}

.part_right .part_price_total {
	float: right;
	color: #888888;
	font-size: 14px;
	font-family: "΢���ź�";
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.part_right .part_price_total .part_price_total_price {
	color: #f01700;
	font-size: 18px;
}

.part_right .part_itemlist .part_item_selected .table_th th {
	font-size: 13px;
	height: 32px;
	background-color: #ccc;
	color: #333;
	line-height: 32px;
}

.part_right .part_itemlist .part_item_selected td {
	text-align: left;
	height: 32px;
	border-left: solid 1px #aeaeae;
	border-bottom: solid 1px #aeaeae;
	color: #666666;
}

.part_right .part_itemlist .part_item_selected td.table_title_opear {
	border-right: solid 1px #aeaeae;
	text-align: center;
}

.part_right .part_button_baojia {
	width: 100%;
	height: 42px;
	float: left;
}

/**-- �̼ұ��� --**/
.provider-proposal { //
	background-color: #fff;
	padding: 13px 10px 20px;
	position: relative;
	z-index: 2;
}

.shop-tit {
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 5px;
	margin-bottom: 15px;
	position: relative;
	zoom: 1;
	z-index: 10;
}

.shop-name {
	padding-bottom: 5px;
	position: relative;
	zoom: 1;
}

.shop-name .shop-title {
	font-size: 16px;
	font-family: "Microsoft YaHei";
	padding: 0 20px 0 0;
	float: left;
}

.comment-rst {
	clear: both;
	overflow: hidden;
	zoom: 1;
	_padding-bottom: 3px;
}

.item-rank-rst {
	background-image:
		url(http://si1.s1.dpfile.com/s/c/app/main/i/base-old/remark.6d9fc339cade243ddaf656d06e6b7d97.png);
	background-repeat: no-repeat;
}

.shop-info .comment-rst .item-rank-rst {
	width: 84px;
	height: 16px;
}

.provider-proposal .comment-rst .irr-star45 {
	background-position: 0 -270px;
}

.comment-rst .rst-taste {
	float: left;
	padding-top: 2px;
	_padding-top: 3px;
}

.sep {
	color: #e0e0e0;
	padding: 0 10px;
}

.comment-rst .stress {
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 5px;
}

.stress {
	color: #c00;
}

.comment-rst .rst {
	padding-right: 10px;
}

.provider-proposal .comment-rst .item-rank-rst {
	width: 84px;
	height: 16px;
	float: left;
	margin-top: 2px;
}

.item-rank-rst {
	text-indent: -9999px;
}

a.col-exp:hover {
	color: #c00;
	text-decoration: underline;
	background-color: transparent;
}

.shop_price_list thead td {
	background-color: #ccc;
	padding: 4px 6px;
	color: #333;
	text-align: center;
}

.shop_price_list tbody td {
	background-color: #f5f5f1;
	padding: 4px;
}

.title_by_item {
	width: 130px;
}

.title_by_parts {
	width: 360px;
}

.title_by_price {
	width: 240px;
}

.title_by_detail {
	width: 100px;
}

.provider-proposal table {
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #aeaeae;
}

.shop_price_list .title_todown {
	background: url(../image/icon_choose_to_down.gif) 85px 10px no-repeat
		#1f81c1;
}

.shop_price_list .title_expend {
	text-align: left;
	cursor: pointer;
	color: #ffffff;
	width: 92px;
	padding-left: 10px;
	height: 24px;
	margin: auto;
	font-size: 12px;
	line-height: 24px;
}

/** ���з��� **/
.serviceoption_list,.order_user_info {
	margin: 20px 20px;
	border: 1px solid #cbcbcb;
	padding: 10px;
	border-top: 3px solid #ed6f1b;
}

.serviceoption_list .tctype_parent_name {
	float: left;
	width: 65px;
	text-align: right;
	color: #666666;
	font-weight: bold;
	margin-top: 8px;
}

.serviceoption_list .tc_parent_child {
	float: left;
	width: 820px;
}

.serviceoption_list .tc_parent_child span {
	height: 32px;
	line-height: 32px;
	width: 120px;
	display: inline-block;
	margin-left: 10px;
}

.serviceoption_list .tctype_parent_option {
	border-bottom: 1px dotted #bdbdbd;
	float: left;
	padding: 10px 0;
}

.select_auto_service {
	padding: 20px;
	clear: both;
}

/** ���� **/
#best-of-category {
	margin: 0 20px;
}

#page-header,.page-header {
	position: relative;
	clear: both;
	border-bottom: 1px solid #ccccc8;
	line-height: 25px;
	zoom: 1;
	padding-bottom: 5px;
	margin: 10px 20px;
	height: 24px;
}

#loc-bar {
	position: relative;
	overflow: visible;
	font-size: 12px;
}

#page-header h1,#page-header h2,.page-header .heading {
	float: left;
	font-size: 14px;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

#loc-bar #other-cities-list {
	float: right;
}

#loc-bar #other-cities-list li {
	display: inline;
	padding: 0 3px 0 5px;
}

.header-with-ui .hd-ui {
	display: table-cell;
	padding-left: 15px;
	text-align: right;
}

.ysection .hd-ui .inline-block {
	vertical-align: bottom;
}

.ysection .hd-ui .inline-block {
	vertical-align: bottom;
}

#best-of-category .tabs-toggle {
	margin-left: 10px;
}

.content {
	position: relative;
	padding-top: 11px;
}

.column-set {
	float: left;
	width: 440px;
}

#best-of-category-list .column-set {
	float: left;
	width: 465px;
	padding-right: 10px;
}

#best-of-category-list .column-set:last-child {
	padding-right: 0;
}

#best-of-category-list .media-block {
	margin-bottom: 10px;
}

#best-of-category-list .column-set li {
	border-bottom: 1px solid #e5e5e1;
	margin-bottom: 10px;
}

#best-of-category-list .media-avatar {
	margin: 0 10px 10px 0;
}

.media-block .media-story {
	display: table-cell;
	vertical-align: top;
	width: 1000000px;
}

#recent-reviews {
	margin: 20px;
}

#recent-reviews .content {
	border-top: 1px solid #ccccc8;
}

#recent-reviews .review {
	width: 440px;
	float: left;
	padding-right: 20px;
	margin-top: 16px;
}

/** question **/
.full_search .search_title {
	width: 60px;
	float: left;
	margin-top: 10px;
}

.search_result_sum {
	border-bottom: 1px solid #e5e5e1;
	padding-top: 10px;
}

.search_result_sum h2 {
	color: #333;
	font-size: 12px;
	font-weight: normal;
}

.navigator .context_content,.search .question_box,.query_form .question_box
	{
	background: #fff;
	border: 0;
	float: left;
	font-size: 14px;
	height: 22px;
	margin-top: 4px;
	padding: 3px 5px 2px;
	overflow: hidden;
	line-height: 19px;
}

.results_list .results_item .question {
	margin: 10px 0 6px 0;
}

.results_list .results_item .question span {
	font-size: 14px;
}

.i-ask {
	background-position: -3px -2px;
	background-image: url(../image/faq_ico.png);
}

.i-answer {
	background-position: -32px -2px;
	background-image: url(../image/faq_ico.png);
}

.i-ask,.i-answer {
	width: 23px;
	height: 16px;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.results_list .results_item .answer {
	padding-bottom: 10px;
	margin-bottom: 16px;
	background: url(../image/line_bottom.gif) repeat-x left bottom;
}

.question_post {
	color: #fff;
	width: 100px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-weight: bold;
	background-color: #ed6f1b;
	margin: 0px auto;
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
	display: block;
}

.footer {
	padding: 18px 0 18px;
	margin-top: 20px;
	font-size: 14px;
	line-height: 1.28571em;
	color: #555;
	clear: both;
	background: #f5f5f1;
	border-top: 2px solid #c10208;
}

.footer .footer-wrap {
	width: 990px;
	margin: 0 auto;
}

.footer .footer-menu-wrap {
	margin: 0 -15px;
	margin-bottom: 0px;
}

.footer .city-landscape-img {
	display: block;
	margin: 0 auto;
	padding-top: 30px;
}

.footer .footer-menu {
	float: left;
	padding: 0 0 0 15px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer .gy,.footer .swhz,.footer .bzzx {
	width: 230px;
}

.footer .follow {
	width: 140px;
}
.footer .provider-entry{
border-left: 1px solid #ccd;
padding: 0 20px;
height: 120px;
}
.footer .footer-menu .menu-header {
	font-size: 14px;
	line-height: 1.3125em;
	margin-bottom: 12px;
}

.footer .footer-menu .menu-list li {
	margin-bottom: 6px;
}

.footer .city-landscape-img {
	display: block;
	margin: 0 auto;
	height: 211px;
	background: url(../image/happy_footer.png) no-repeat center bottom;
}

.footer .copyright {
	font: 12px/30px 'Microsoft Yahei', Arial, Helvetica, sans-serif;
	clear: both;
	text-align: left;
}

/** banner **/
#slz-banner {
	background: url(../image/main_header_test.png) no-repeat center;
	background-repeat: no-repeat;
	width: 960px;
	height: 220px;
	position: relative;
}

#slz-banner .diff {
	color: white;
	font-size: 43px;
	float: left;
	width: 920px;
	text-align: right;
	margin: 8px 20px;
}

#slz-banner .checks {
	color: white;
	font-weight: bold;
	list-style-image: url('../image/check_icon.png');
	padding-bottom: 15px;
	padding-left: 450px;
	clear: both;
}

#slz-banner .checks li {
	font-size: 12.5px;
	padding-top: 6px;
	line-height: inherit;
}

#slz-apointButton {
	position: absolute;
	bottom: 57px;
	right: 31px;
}

#slz-apointText {
	position: absolute;
	font-size: 12.5px;
	right: 56px;
	bottom: 10px;
	color: white;
}

#slz-apointText a {
	font-size: 13px;
	font-weight: bolder;
	color: white;
	line-height: 24px;
}

.tableLayer .t_l {
	width: 5px;
	height: 5px;
	background: url(../image/tablelayer_01.png) no-repeat;
	_background: url(../image/tablelayer_01.gif) no-repeat;
	_filter: alpha(opacity = 70)
}

.tableLayer .t_c {
	height: 5px;
	background: url(../image/tablelayer_02.png) repeat-x;
	_background: url(../image/tablelayer_02.gif) repeat-x;
	_filter: alpha(opacity = 70)
}

.tableLayer .t_r {
	width: 5px;
	height: 5px;
	background: url(../image/tablelayer_03.png) repeat-y;
	_background: url(../image/tablelayer_03.gif) no-repeat;
	_filter: alpha(opacity = 70)
}

.tableLayer .m_l {
	width: 5px;
	background: url(../image/tablelayer_02.png) repeat-y;
	_background: url(../image/tablelayer_02.gif) repeat-y;
	_filter: alpha(opacity = 70)
}

.tableLayer .m_c {
	background: #fff;
	padding: 5px
}

.tableLayer .m_r {
	width: 5px;
	background: url(../image/tablelayer_02.png) repeat-y;
	_background: url(../image/tablelayer_02.gif) repeat-y;
	_filter: alpha(opacity = 70)
}

.tableLayer .b_l {
	width: 5px;
	height: 5px;
	background: url(../image/tablelayer_04.png) no-repeat;
	_background: url(../image/tablelayer_04.gif) no-repeat;
	_filter: alpha(opacity = 70)
}

.tableLayer .b_c {
	height: 5px;
	background: url(../image/tablelayer_02.png) repeat-x;
	_background: url(../image/tablelayer_02.gif) repeat-x;
	_filter: alpha(opacity = 70)
}

.tableLayer .b_r {
	width: 5px;
	height: 5px;
	background: url(../image/tablelayer_05.png) no-repeat;
	_background: url(../image/tablelayer_05.gif) no-repeat;
	_filter: alpha(opacity = 70)
}

.tableLayer h2 {
	margin: 0px;
}

.dialogic {
	padding: 10px 20px
}

.tales60 {
	padding: 8px 0 8px 60px;
	font-size: 14px
}

.tales100 {
	padding: 8px 0 8px 100px;
	font-size: 14px
}

.tales100 dt {
	margin-left: -100px;
	_margin-left: -50px;
	width: 100px;
	text-align: right;
	float: left;
	margin-top: 8px
}

.tales60 dt {
	margin-left: -60px;
	_margin-left: -30px;
	width: 60px;
	text-align: right;
	float: left;
	margin-top: 8px
}

.tales60 dd,.tales100 dd {
	width: 100%;
	float: left
}

.tales60 .label,.tales60 .text,.tales100 .label,.tales100 .text {
	font-size: 14px;
	border: 0;
	display: block
}

.tales60 .text,.tales100 .text {
	height: 28px;
	line-height: 28px;
	padding: 6px 8px 6px 0;
	background-position: right -553px;
	float: left;
	outline-width: 0
}

.tales60 .label,.tales100 .label {
	height: 42px;
	background-position: -2px -553px;
	padding: 0 0 0 8px
}

.tales60 .labelHover,.tales100 .labelHover {
	background-position: 0 -604px
}

.tales60 .labelHover .text,.tales100 .labelHover .text {
	background-position: right -604px
}

.dialogic a {
	color: #c03b0c
}

/******store*********/
#store-top {
	width: 990px;
}

#store-top .top-info {
	float: left;
	width: 696px;
	margin-left: 20px;
	_margin-left: 15px;
	padding: 0;
	margin-top: 15px;
	_margin-top: 8px;
	font-size: 16px;
}

#store-top h1 {
	font-size: 22px;
	font-family: "微软雅黑";
}

#store-top .xxpf span {
	background: url(../image/pass.png) no-repeat;
	padding-left: 18px;
}

#store-top .xxpf {
	padding-left: 20px;
}

#store-top .qualification span {
	background: url(../image/pass.png) no-repeat;
	padding-left: 18px;
}

#store-top .shopimg {
	float: right;
margin: 10px 20px 10px 10px;
width: 220px;
height: 123px;
overflow: hidden;
text-align: right;
}

#store-top .rows-item {
	float: left;
	margin-right: 24px;
}

#store-top .top-info .rows {
	clear: both;
	height: 24px;
	line-height: 24px;
}

#store-top .store-name {
	margin-bottom: 10px;
}

#store-top .user_rate_vote span {
	float: left;
	margin-right: 10px;
}

#store-top .vote {
	float: left;
	margin-right: 20px;
}

#store-top .qualification {
	margin: 0 2px;
}

.floatleft {
	float: left;
}

#store-top .user_rate_vote .rating {
	padding-top: 4px;
}

#store-top .splitrows {
	width: 100%;
	float: left;
	border-bottom: 1px solid #ccccc8;
	height: 13px;
	font-size: 0;
	margin-bottom: 20px;
	_margin-bottom: 5px;
}

.mod_tabs .mod_hd ul.nav_tabs {
	border-bottom: 2px solid #ed6f1b;
	height: 40px;
	background: 0;
}

.mod_tabs .mod_hd ul.nav_tabs li {
	height: 40px;
	background: #eee;
	margin-right: 1px;
	float: left;
}

.mod_tabs .mod_hd ul.nav_tabs li a {
	border-top: 0;
	color: #333;
	float: left;
}

.mod_tabs .mod_hd ul.nav_tabs li a {
	display: inline-block;
	padding: 0 20px;
}

.mod_tabs .mod_hd ul.nav_tabs {
	line-height: 40px;
}

.button,.button span {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	border: 0;
	width: auto;
	font-family: '宋体';
	color: #fff;
	text-decoration: none !important;
	background: url(../image/btn_default.gif) no-repeat;
}

.bigBt {
	height: 30px;
	line-height: 30px;
	line-height: 32px;
	padding-left: 18px;
	letter-spacing: 1px;
}

.bigBt {
	background-position: 0 -147px;
}

.bigBt:hover {
	background-position: 0 -208px;
}

.bigBt span,.bigBt input {
	height: 30px;
	line-height: 32px;
	overflow: hidden;
	padding-right: 18px;
	font-size: 14px;
	font-weight: bold;
	float: left;
}

.bigBt span,.bigBt input {
	background-position: right -177px;
}

.mod_tabs .mod_hd ul.nav_tabs li.select a:hover {
	color: #fff !important;
}

.mod_tabs .mod_hd ul.nav_tabs li.select a {
	background: #ed6f1b;
	color: #fff;
	border-top: 0;
}

.store_item { //
	float: left;
	padding: 5px;
	width: 660px;
	margin: 10px 0;
}

.store_item h1 {
	font-size: 14px;
}

.photolist p {
	margin: 10px;
	text-align: center;
}

.mod_wrap .mod_content {
	width: 670px;
	float: left;
}

.mod_wrap .mod_right {
	width: 268px;
	float: left;
	margin: 20px 0 10px 10px;
	border-left: 1px solid #ccccc8;
	border-bottom: 1px solid #ccccc8;
}

.box {
	padding-bottom: 20px;
}

.box .title {
	border-bottom: 1px solid #ccccc8;
	padding-bottom: 2px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.box .title h1 {
	font-size: 14px;
}

.box .box-content {
	padding-left: 10px;
}

.box .box-items li {
	background: url(../image/dot.gif) no-repeat -1px -47px;
	padding-left: 13px;
	padding: 2px 0 2px 16px;
}

.help {
	float: left;
	margin: 4px 0 0 0;
	height: 15px;
	width: 15px;
	background: url(../image/help.png) no-repeat;
	position: relative;
}

.help div {
	position: absolute;
	top: 25px;
	left: -50px;
	float: left;
	width: 400px;
	padding-top: 6px;
	background:
		url(http://www.bimawen.com/ui/20130403/images/help_arrow.png)
		no-repeat 25px 0;
	color: #fff;
	z-index: 100;
}

.help p {
	padding: 5px;
	line-height: 18px;
	font-size: 12px;
	font-family: Tahoma;
	background: #666666;
}



.autoservice {
	position: relative;
}

.automaintenance {
	background: #323131;
	Opacity: 0.2;
	Filter: alpha(opacity = 20);
	width: 650px;
	height: 466px;
	position: absolute;
	z-index: 2;
	left: 6px;
	top: 46px;
}

.maintenancelist {
	width: 725px;
	height: 466px;
	border: 2px solid #ab070c;
	position: absolute;
	left: -76px;
	top: 39px;
	z-index: 100;
	overflow: hidden;
	font: 12px/22px "宋体";
	color: #666;
	background: #fff;
}

.pmain {
	float: left;
	width: 705px;
	padding: 10px;
	display: inline;
}

.pmain b.ptitle,.pright b.ptitle {
	font: bold 14px/20px "宋体";
	display: block;
	color: #BB080B;
}

.psearch {
	padding: 10px 0 10px 15px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
}

.psearch dl dt,.psearch dl dd {
	float: left;
	display: inline;
	font: 14px/24px "宋体";
	color: #333;
	margin-top: 6px;
	position: relative;
}

.psearch dl dt span {
	float: left
}

.psearch dl dt div {
	float: left
}

.psearch dl dt {
	margin-right: 15px;
}

.psearch dl dt input {
	width: 70px;
	border: 1px solid #C5A370;
	vertical-align: middle;
	height: 22px;
	margin-right: 5px;
}

.psearch dl dd span {
	float: left;
	font: 14px/24px "宋体";
	color: #333;
}

.psearch dl dd ol {
	float: left;
	height: auto;
}

.psearch dl dd ol li {
	margin-right: 16px;
	display: inline;
	float: left;
}

.psearch dl dd ol li .newSel {
	width: 100px;
	float: left;
	border: 1px solid #ccc;
	background: #ffffff;
	padding: 1px;
	height: 22px;
	position: relative;
}

.psearch dl dd ol li .newSel a {
	height: 22px;
	width: 22px;
	box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	webkit-box-shadow: none;
	padding: 0;
	float: right;
}

.psearch dl dd ol li div.newSel a:hover {
	background-position: 0 -290px;
}

.psearch dl dd ol li div.newSel a.NewSelBut:hover {
	height: 22px;
	width: 22px;
	background-position: 0 -290px;
}

.psearch dl dd ol li .newSel .newSelLayer {
	position: absolute;
	border: 1px solid #C5A370;
	border-top: 0;
	background: #ffffff;
	top: 26px;
	left: -1px;
	width: 86px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 180px;
}

.psearch dl dd ol li .newSel .newSelLayer ul li a {
	float: none;
	color: #666;
	display: block;
	height: 18px;
	background: none;
	width: 80px;
	text-align: left;
	font: 12px/18px "arial";
	padding: 0 0 0 4px;
}

.psearch dl dd ol li .newSel .newSelLayer ul li a:hover {
	background: #FFC;
}

.psearchBut {
	margin: 0 0 0 490px;
}

.pproject {
	border-top: 1px dashed #ccc;
	margin-top: 10px;
	padding-top: 10px;
}

.pproject dl {
	width: 705px;
	overflow: hidden;
}

.pproject dl dt {
	float: left;
	width: 65px;
	font: bold 12px/24px "宋体";
	color: #333;
	display: inline;
}

.pproject dl dd {
	float: left;
	width: 640px;
}

.pproject dl dd ol {
	height: auto;
	float: none;
}

.pproject dl dd ol {
	height: auto;
	float: none;
}

.pproject dl dd ol li {
	float: left;
	width: 105px;
	display: inline;
	margin: 0;
	padding: 0;
	border: 0;
	font: 13px/24px "宋体";
	height: 24px;
	background: url("/auto/image/ico_angle_right.jpg") no-repeat 0 2px;
	padding-left: 20px;
}

.pproject dl dd ol li a,.pproject dl dd ol li a {
	color: #333;
	height: 24px;
}

.pproject dl dd ol li a:hover {
	background: none;
	color: #666;
}

.pproject dl dd ol li a.sitem,.pproject dl dd ol li a:hover {
	color: #333;
	height: 24px;
	box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	webkit-box-shadow: none;
	background: #fff;
	text-align: left;
	font: 13px/24px "宋体";
	width: 130px;
	padding: 0;
}

.pproject dl dd ol li a:hover {
	text-decoration: underline;
}

.navLeft .pmain [class^="icon-"] {
	width: 32px;
	margin: 0 6px 0 0;
}

.psearch dl dd ol li .newSel .newInput {
	width: 74px;
	float: left;
	border-right: 1px solid #ccc;
	font: 12px/22px "宋体";
	color: #333;
	padding-left: 2px;
}

.psearch dl dd ol li .newSel a {
	height: 22px;
	width: 22px;
	background: url("/auto/image/common_ico.png") no-repeat -4px -5px;
	box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	webkit-box-shadow: none;
	padding: 0;
	float: right;
}

.psearch dl dd ol li div.newSel a.NewSelBut:hover {
	height: 22px;
	width: 22px;
	background-position: -4px -55px;
}

.psearch dl dd ol li .newSel .newSelLayer {
	position: absolute;
	border: 1px solid #C5A370;
	border-top: 0;
	background: #ffffff;
	top: 26px;
	left: -1px;
	width: 86px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 180px;
}

.psearch dl dd ol li .newSel .newSelLayer ul li a {
	float: none;
	color: #666;
	display: block;
	height: 18px;
	background: none;
	width: 80px;
	text-align: left;
	font: 12px/18px "arial";
	padding: 0 0 0 4px;
}

.psearch dl dd ol li .newSel .newSelLayer ul li a:hover {
	background: #FFC;
}

/**车型选择**/
.inpt {
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 0 #eaeaea inset;
	color: #ccc;
	height: 26px;
	padding: 0 0 0 0;
	display: block;
	width: 220px;
	float: left;
	outline: none;
	background: #fff;
	clear: both;
}

.inpt .b_input {
	border: 0 none;
	width: 180px;
	height: 24px;
	color: #808080;
	font: 13px/15px verdana, lucida, arial, helvetica, "宋体", sans-serif;
	vertical-align: -3px;
	outline: none;
	background: #fff;
}

.inpt .overTxtLabel {
	line-height: 24px;
	height: 24px;
	position: absolute;
	cursor: text;
	color: rgb(204, 204, 204);
	width: 212px;
	text-indent: 6px;
	left: 2px;
	top: 1px;
	text-align: right;
}

.filter_vehicle {
	float: left;
	width: 100%;
	margin-top: 30px;
	_margin-top: 15px;
}

.filter {
	border: 1px solid #ddd;
	margin: 10px;
	background: #F7F7F7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
	padding: 8px 8px 0 16px
}

.filter .filter-list {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.5;
	height: 25px;
	line-height: 25px;
}

.filter .filter-list dl dt,.filter .filter-list dl dd {
	float: left;
}

.filter .filter-area dt {
	width: 80px;
	float: left;
}

.filter .filter-area {
	width: 200px;
	float: left;
}

.filter .filter-order dt {
	width: 70px;
	float: left;
}

.filter-list dd ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.filter-list dd li {
	float: left;
	_display: inline;
	margin: 0 0 10px;
	padding: 0 7px;
	background: url(../image/filter-seperator.png) no-repeat 0 50%;
}

.intel-service-bg {
	background: #c10208;
	width: 592px;
	height: 270px;
	padding: 4px;
	float: left;
}

.intel-service-main {
	background: #fff;
	width: 572px;
	height: 250px;
	padding: 10px;
}

.intel-service-main .title {
	height: 26px;
	line-height: 26px;
	border-bottom: 1px dotted #e6e9ed;
	padding-bottom: 6px;
	margin-bottom: 12px;
}

.intel-service-main .title span {
	font-size: 14px;
	color: #6D6464;
}

.intel-service-main .formwrap {
	width: 340px;
	float: left;
}

.intel-service-main .formwrap dl {
	margin-bottom: 12px;
	width: 100%;
	float: left;
}

.intel-service-main .formwrap dl dt {
	font-size: 14px;
}

.intel-service-main .psearch {
	padding: o;
	border-bottom: none;
	margin-bottom: 0;
}

.service-propaganda {
	width: 370px;
	float: left;
	margin-left: 20px;
}

.adbox img {
	width: 370px;
	height: 124px;
}

.imgView {
	position: relative;
	height: 124px;
	overflow: hidden;
	margin: 0 auto;
	width: 370px
}

.imgView .imgList ul li {
	position: absolute;
	left: 0;
	top: 0;
	height: 124px;
	width: 370px
}

.imgView .imgList .prev,.imgView .imgList .next {
	position: absolute;
	z-index: 4;
	top: 60px;
	display: block;
	width: 40px;
	height: 60px;
	background: url(/css/movie_wide/ico_arror.gif?v=1010) no-repeat #ccc;
	filter: alpha(opacity = 40);
	opacity: .4
}

.imgView .imgList .prev:hover,.imgView .imgList .next:hover {
	filter: alpha(opacity = 60);
	opacity: .6;
	background-color: #f6b08f
}

.imgView .imgList .prev {
	left: 0;
	background-position: 12px 17px;
	display: none
}

.imgView .imgList .next {
	right: 0;
	background-position: -51px 17px;
	display: none
}

.imgView .countList {
	position: absolute;
	right: 10px;
	bottom: 5px;
	z-index: 4
}

.imgView .countList a {
	display: inline-block;
	float: left;
	width: 22px;
	height: 22px;
	background: #ccc;
	color: #fff;
	margin: 0 2px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px
}

.imgView .countList a:hover {
	text-decoration: none;
	background: #fc9
}

.imgView1 {
	position: relative;
	height: 100px;
	width: 290px;
	overflow: hidden;
	margin-bottom: 35px
}

.imgView1 .imgList1 ul li {
	position: absolute;
	left: 0;
	top: 0;
	height: 100px;
	width: 290px
}

.imgView1 .countList1 {
	position: absolute;
	right: 10px;
	bottom: 9px;
	z-index: 4
}

.imgView1 .countList1 a {
	display: inline-block;
	float: left;
	width: 15px;
	cursor: pointer;
	height: 15px;
	line-height: 15px;
	font-size: 10px;
	background: #ccc;
	color: #fff;
	margin: 0 2px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px
}

.imgView1 .countList1 a:hover {
	text-decoration: none;
	background: #fc9
}

.imgView1 .countList1 a.select,.imgView .countList a.select {
	background: #ec6120
}

.service_tad a {
	width: 372px;
	height: 70px;
	background: url(/auto/image/service-ad.png) no-repeat;
	margin-bottom: 8px;
	cursor: pointer;
	display: block;
}

.service_tad a.tad_zxb {
	background-position: 0 0;
}

.service_tad a.tad_zxb:hover {
	background-position: 0 -75px;
}

.service_tad a.tad_zxgj {
	background-position: 0 -150px;
}

.service_tad a.tad_zxgj:hover {
	background-position: 0 -225px;
}

.service_tad a strong {
	display: none;
}

.layer1,.layer2 {
	margin-bottom: 10px;
	float: left;
}

.yck-box {
	margin-bottom: 10px;
	background: #fff;
	_zoom: 1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 10px;
	width: 100%;
	float: left;
}

.yck-box .bd {
	background: #fff;
	width: 100%;
	float: left;
}

.yck-box .hd {
	height: 26px;
	border-bottom: 1px solid #e6e9ed;
	padding: 12px 0 0 10px;
}

.yck-box .bd .service-list-wrap {
	width: 100%;
	float: left;
}

.fws-item-content {
	margin: 10px;
	line-height: 24px;
}

.fws-item-content a {
	color: #333;
}

.fws-item-content a:hover {
	text-decoration: none;
}

.fws-item-content .start {
	background-position: -3px -3px;
	margin-right: 10px;
}

.fws-item-content em {
	display: inline-block;
	width: 23px;
	height: 16px;
	background: url(/auto/image/quotes.png) no-repeat;
	position: relative;
}

.fws-item-content .end {
	background-position: -27px -3px;
	margin-left: 10px;
	top: 5px;
}
.pcontent-title {
margin: 0 10px 10px 0;
border-bottom: 1px solid #e6e9ed;
height: 48px;
width: 100%;
}
.doubt {
width: 16px;
height: 16px;
display: inline-block;
zoom: 1;
overflow: hidden;
background: url(../image/icos.png) 0 0 no-repeat;
vertical-align: middle;
margin-left: 2px;
cursor: pointer;
}
.p_pop {
width: 60px;
}
.p_pop {
position: relative;
display: inline-block;
zoom: 1;
}
.hover .pop{display:inline-block; *display:inline; zoom:1; } 
.pop {
position: absolute;
left: 16px;
top: -24px;
z-index: 10;
margin-left: 10px;
display: none;
padding-left: 10px;
width: 370px;
}
.lit_tip {
display: inline-block;
zoom: 1;
width: 12px;
height: 11px;
background: url(/auto/image/icos.png) 0 -63px no-repeat;
overflow: hidden;
float: left;
top: 16px;
left: -1px;
position: absolute;
z-index: 11;
}
.td_lht {
line-height: 1.5;
font-size: 12px;
font-weight: normal;
color: #999;
padding: 6px 10px;
border: 1px solid #d8d8d8;
background: #fefefe url(/auto/image/s_bgspop.png) 0 bottom repeat-x;
display: inline-block;
zoom: 1;
border-radius: 5px;
-moz-box-shadow: 0 3px 3px #f0f0f0;
-webkit-box-shadow: 0 3px 3px #f0f0f0;
box-shadow: 0 3px 3px #f0f0f0;
}
.td_lht .faq_link_more {
text-decoration: none;
}